name: textlint
on: [pull_request]
jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - name: Setup node/npm
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "latest"
      - name: textlint
        run: |
          npm ci
          npx textlint articles/*.md
        env:
          CI: true
