name: textlint
on: [pull_request]
jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - name: Setup node/npm
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "latest"
      - name: textlint
        run: |
          npm ci
          npx textlint articles/*.md
        env:
          CI: true
